/*
** Color palette
** Black coffee:      #3B3333;
** Eerie black:       #1C1919;
** Dark Jungle Green: #192121;
** Dim grey:          #666666;
** Shamrock green:    #399E5A;
*/

html {
    margin: 0;
    padding: 0;
}

body {
    width: 500px;
    font-family: Helvetica, Arial, sans-serif;
    color: #3B3333;
    background-color: #FAFAFA;
    font-size: 13px;
    font-weight: 400;
}

/* stylize the svg elements */
path.domain ~ g.tick, g.legend text {
    font-size: 17px;
}

h1 {
    color: #399E5A;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

p {
    text-align: center;
}

table.datatable {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

table.datatable, .datatable th, .datatable td {
    font-size: 0.9em;
    border: 1px solid #666666;
    padding: 8px;
    text-align: center;
}

footer {
    padding: 10px;
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
}

.container {
    margin: 10 10 20 10;
}

.header {
    display: block;
    text-align: center;
}

.logo {
    margin: 0px 5px;
    width: 32px;
    vertical-align: middle;
}

.header h1, .header h2 {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

footer img {
    margin-top: -4px;
    border-radius: 50%;
    border: 1px solid #399E5A;
}

.pull-right {
    float: right;
}
