/*
** Color palette
** Black coffee:      #3B3333;
** Baby powder:       #FBFEF9;
** Eerie black:       #1C1919;
** Dark Jungle Green: #192121;
** Dim grey:          #666666;
** Shamrock green:    #399E5A;
*/

html {
    margin: 0;
    padding: 0;
    border-top: 3px solid #399E5A;
}

body {
    width: 500px;
    margin: 3px 5px;
    font-family: Helvetica, Arial, sans-serif;
    color: #3B3333;
    background-color: #FBFEF9;
    font-size: 12px;
    font-weight: 400;
}

/* stylize the svg elements */
path.domain ~ g.tick, g.legend text {
    font-size: 1.5em;
}

h1 {
    color: #399E5A;
    margin-top: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

p {
    text-align: center;
}

table.datatable {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

table.datatable, .datatable th, .datatable td {
    font-size: 0.9em;
    border: 1px solid #666666;
    padding: 8px;
    text-align: center;
}

footer {
    padding: 10px;
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
}

.container {
    margin: 10 10 20 10;
}

.header {
    width: 100%;
}

.logo {
    display: inline;
    border-radius: 50%;
    /*border: 3px solid #399E5A;*/
    float: left;
    margin: 0px 30px 5px 30px;
    width: 64px;
}

.header h1, .header h2 {
    margin-left: 30px;
}
